*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-style: normal;
  font-weight: 400;
  color: #545454;
  padding: 0;
  margin: 0;
}

h2,
h1 {
  font-size: 44px;
  line-height: 57px;

  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-size: 35px;
  line-height: 45px;

  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h5 {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #4c4c4c;
  padding: 0;
  margin: 0;
}

.p-large {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
  padding: 0;
  margin: 0;
}

/*  FIRST SCREEN  */

nav img {
  display: none;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav a {
  text-decoration: none;

  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;

  color: #cdcdcd;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  gap: 35px;
  justify-content: space-between;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;

  color: #ffffff;
  padding: 0;
  margin: 0;
}

.logo a {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
}

.not-only h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;

  color: #ffffff;
}

.not-only .p-large {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: #cdcdcd;
}

.first-screen {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  max-width: 1280px;
  padding: 30px 40px 0;
  position: relative;
  margin: auto;
}

.first-screen button {
  background-color: #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;

  border: none;
  padding: 0;

  cursor: pointer;

  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;

  letter-spacing: 0.06em;

  color: #292929;
  transition: all;
  transition-duration: 300ms;
}

.first-screen button:hover {
  background-color: #fddcc4;
}

.first-screen button:active {
  transform: translateY(2px);
}

.first-screen :where(h1, h3, h4) {
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.first-screen p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.first-screen .p-large {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
}

.first-whole-width {
  background: url(./images/noise.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}

.not-only div:nth-child(1) {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;

  gap: 42px;
}

.not-only div:nth-child(2) {
  padding-top: 90px;
}

nav li:hover a {
  color: #fafafa;
}

nav li:nth-child(1) a {
  color: #fafafa;
}

nav div {
  transition: all;
  transition-duration: 400ms;
  background: #f1cdb3;
  height: 3px;
  opacity: 0;
}

nav li:hover div {
  opacity: 1;
}

nav li:nth-child(1) div {
  opacity: 1;
}

.not-only {
  display: flex;
  justify-content: space-between;
}

.not-only img {
  max-width: 100%;
  height: auto;
  display: block;
  float: bottom;
}

nav a {
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  color: #cdcdcd;
  transition: all;
  transition-duration: 300ms;
}

@media (max-width: 860px) {
  .first-screen {
    padding: 30px 30px 0;
    gap: 60px;
  }

  .not-only {
    flex-flow: column;
    align-items: center;
  }

  .not-only div:nth-child(2) {
    padding-left: 140px;
    padding-top: 100px;
  }

  .first-screen form {
    margin: auto;
  }
}

.first-screen .p-large {
  max-width: 460px;
}

.first-screen h1 {
  max-width: 310px;
  height: 114px;
}

@media (max-width: 700px) {
  .not-only div:nth-child(2) {
    padding-left: 0px;
    padding-top: 100px;
  }

  .first-screen {
    padding: 30px 20px 0;
    gap: 60px;
  }

  .not-only h1 {
    text-align: center;
  }

  .not-only div:nth-child(1) {
    align-items: center;
  }

  .not-only p {
    text-align: center;
  }
}

@media (max-width: 738px) {
  nav ul {
    display: none;
  }
  nav img {
    display: block;
  }
}

@media (max-width: 500px) {
  header {
    padding: 0 10px;
  }

  .first-screen {
    padding: 30px 10px 0;
    gap: 60px;
  }

  .not-only h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 250px;
    height: auto;
  }

  .not-only .p-large {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    height: auto;

    color: #cdcdcd;
    width: auto;
  }

  .not-only div:nth-child(1) {
    gap: 41.5px;
  }

  .not-only div:nth-child(2) {
    padding-left: 40px;
    padding-top: 105px;
  }
}

.fourth-whole-width {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.fifth-whole-width {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.sixth-whole-width {
  display: flex;
  justify-content: center;
  background: url(./images/noise.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
}

.our-friends form button:hover {
  background: #fddcc4;
}

.pets figure:hover button {
  background: #fddcc4;
  border: #fddcc4;
}

.our-friends form button:active {
  transform: translateY(2px);
}

/*  SECOND SCREEN  */

.second-screen {
  padding: 80px 20px 97px;

  max-width: 1280px;
  margin: auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.about div:nth-child(2) {
  max-width: 430px;
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
}

.about div:nth-child(1) {
  max-width: 308px;
}

@media (max-width: 768px) {
  .about {
    flex-flow: column-reverse;
    gap: 80px;
    padding-bottom: 17px;
  }
  .second-screen {
    padding: 80px 20px 80px;

    max-width: 1280px;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .about div:nth-child(1) {
    padding: 0px 20px;

    height: auto;
    width: auto;
  }

  .about div:nth-child(1) img {
    height: auto;
    max-width: 260px;
    object-fit: contain;
  }

  .about {
    flex-flow: column-reverse;
    gap: 40px;
    padding-bottom: 17px;
  }

  .second-screen {
    max-width: 320px;
    padding: 43px 20px 20px;
  }

  .about h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #545454;
    text-align: center;
  }

  .about .p-large {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 0px 5px;
    text-align: justify;

    color: #4c4c4c;
  }
}

/*  THIRD SCREEN  */

.wrapper-third-screen {
  background: #f6f6f6;
}

.third-screen {
  margin: auto;
  max-width: 1280px;
  padding: 80px 36px 99px;
}

.our-friends {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 59px;
}

.our-friends > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  gap: 4.8%;
}

.pets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
}

figcaption p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  text-align: center;
  letter-spacing: 0.06em;
}

.pets figure {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  gap: 26px;
  transition: all;
  transition-duration: 300ms;
  background-color: #fafafa;
  margin: 0;
}

.pets figcaption {
  display: flex;
  flex-flow: column nowrap;
  gap: 27px;
}

.third-screen h3 {
  max-width: 400px;
  text-align: center;
}

/*  THIRD SCREEN BUTTON & HOVER  */

.third-screen div button {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 100%;

  border: 2px solid #f1cdb3;

  cursor: pointer;

  transition: all;
  transition-duration: 300ms;
  margin-top: -5px;
}

.third-screen div button:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.third-screen div button:active {
  transform: translateY(2px);
}

.third-screen section form > button {
  background-color: #f1cdb3;
  border-radius: 100px;
  width: 261px;
  height: 52px;

  border: none;
  padding: 0;

  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all;
  transition-duration: 300ms;
  margin-top: -5.5px;
}

.third-screen section > button:hover {
  background-color: #fddcc4;
}

.pets figcaption > button {
  width: 187px;
  height: 52px;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-top: 4px;

  letter-spacing: 0.06em;
}

.pets figcaption button {
  margin-bottom: 36px;
}

.pets figure:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.our-friends > .hidden-btns {
  display: none;
}

@media (max-width: 1110px) {
  .third-screen {
    margin: auto;
    max-width: 1280px;
    padding: 80px 31px 99px;
  }

  .pets figure:nth-child(3) {
    display: none;
  }
  .our-friends > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 12px;
  }

  .our-friends > div > div {
    flex-basis: 65%;
    flex-grow: 0;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .third-screen {
    margin: auto;
    max-width: 1280px;
    padding: 42px 10px;
  }

  .pets figure:nth-child(2) {
    display: none;
  }
  .our-friends > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 12px;
  }

  .our-friends > div > div {
    flex-basis: auto;
    flex-grow: 0;
    gap: 0;
  }

  .our-friends > h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;

    letter-spacing: 0.06em;

    color: #545454;
  }
}

@media (max-width: 424px) {
  .our-friends {
    gap: 36px;
  }

  .our-friends > div button {
    display: none;
  }

  .our-friends > div > div > figure button {
    display: block;
  }

  .our-friends > div {
    justify-content: center;
  }

  .our-friends > .hidden-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
  }

  .our-friends > .hidden-btns > button {
    display: block;
    background-color: transparent;
    width: 52px;
    height: 52px;
    border-radius: 100%;

    border: 2px solid #f1cdb3;

    cursor: pointer;

    transition: all;
    transition-duration: 300ms;
    margin-top: -17px;
  }

  .hidden-btns button:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
  }

  .hidden-btns button:active {
    transform: translateY(2px);
  }
}

/* FOURTH SCREEN */

.wrapper-fourth-screen {
  height: 611px;
  width: 1280px;
}

.wrapper-fourth-screen h3 {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 80px;
}

.wrapper-fourth-screen ul {
  display: flex;
  flex-flow: row wrap;
  column-gap: 119.5px;
  justify-content: center;
  row-gap: 55px;

  padding: 0 50px 0 50px;
}
.wrapper-fourth-screen li {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.wrapper-fourth-screen img {
  height: 60px;
  width: 60px;
}

.wrapper-fifth-screen {
  width: 1280px;
  height: 462px;
  background: #f6f6f6;
}

.card {
  transition: all;
  transition-duration: 300ms;
}

.card:hover {
  background-color: #fddcc4;
}

.card-p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  letter-spacing: 0.06em;

  color: #545454;
}

.legal {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  width: 380px;
  height: 72px;
  text-align: left;

  color: #b2b2b2;
}

.wrapper-fifth-screen section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 31px;
  align-items: center;
}

.wrapper-fifth-screen img {
  margin-top: 5px;
  margin-left: 1px;
}

.fifth-screen {
  padding-top: 81.5px;
}

.wrapper-fifth-screen section div:nth-child(2) {
  display: flex;
  flex-flow: column nowrap;

  gap: 19.3px;
}

.card {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
}

.card img {
  margin-top: 0px;
}

.sixth-screen {
  display: flex;

  gap: 137px;
}

/* .wrapper-sixth-screen {
} */

.wrapper-sixth-screen {
  width: 1280px;
  height: 350px;
}
footer > img {
  position: absolute;
  right: 40px;
  bottom: 0;
}

footer {
  position: relative;
}

footer h3 {
  height: 90px;
  width: 300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;

  letter-spacing: 0.06em;

  color: #ffffff;
}

footer p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  letter-spacing: 0.06em;

  color: #f1cdb3;
}

footer address > a {
  display: flex;
  gap: 20px;

  align-items: center;
}

.sixth-screen > div {
  padding: 57px 0px 0px 40px;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
  width: 302px;
}

.sixth-screen > div:nth-child(2) {
  justify-content: center;
  gap: 32px;
}
/*
.sixth-screen address > div:nth-child(1) {
  margin-bottom: -14px;
} */

.address1 {
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}

.address2 {
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
}

h2.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;

  letter-spacing: 0.06em;
  height: auto;
  width: auto;

  color: #f1cdb3;
  padding: 0;
  margin: 0;
}

p.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;

  color: #ffffff;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-flow: column wrap;

  align-items: center;
  justify-content: center;
}

address a {
  transition: all;
  transition-duration: 300ms;

  color: #f1cdb3;
}

address a:hover {
  scale: 105%;
  text-decoration: underline #f1cdb3;
}
